 
      <div class="row m-3">
        <div class="col-sm-4  mx-auto">
          <h2 class="border-bottom pb-2">Password Reset</h2>

          <form  ng-app="loginApp"  ng-controller="loginupController" name="login"  action="login.html"> 
		  
			<div class="form-group">
                <label for="email">New Password*:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" ng-model="password" required>
                
            
            <div class="form-group">
                <label for="confirmPassword">Confirm Password*:</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" name="confirmPassword" ng-model="confirmPassword" required confirmPasswordDirective>
                </div>            

         
            
            <button type="submit" class="btn btn-default">Reset</button> 
          </form>

        </div> 
      </div> 
    